 <nav class="blue darken-4" ng-controller="NavCtrl">
  <div class="nav-wrapper">
    BATTLEBOAT
    <!-- nav links -->
    <ul id="nav-links" class="right">
      <li><a href="#/" title="">Home</a></li>
      <li><a href="#/profile" title="">Profile</a></li>
      <li><a href="#/battle" title="">Battle</a></li>
      <li><a ng-click="logout()" href="#/" title="">Logout</a></li>
    </ul>
  </div>
</nav>

  <!-- <nav> 
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div> 
  </nav> -->
